<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ru.korean-patch.app"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. Korean Patch</name>

    <description>
        Korean Patch — все тайны утончённой красоты Азии.

Наш онлайн-магазин открыт для вас круглосуточно и без выходных :)

Самые низкие цены на косметику, удобная и быстрая доставка по всей стране, хороший сервис — это Korean Patch.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />


    <platform name="android">
        <icon src="res/android/icon/7851a5f3ed4d878e8150e370e907f9f2.png" density="ldpi" />
        <icon src="res/android/icon/c9d4594b6b299057ba35a16a92fcaceb.png" density="mdpi" />
        <icon src="res/android/icon/b30b75b7924444f5bc7262610eb955a2.png" density="hdpi" />
        <icon src="res/android/icon/827668336259966af7ae3b41c7b8664b.png" density="xhdpi" />
        <icon src="res/android/icon/7a2ccbf25a2370e41e0d1893bce18ce8.png" density="xxhdpi" />
        <icon src="res/android/icon/e2baa128621498e0e8038ee2b12e7bd9.png" density="xxxhdpi" />

        <splash src="res/android/screen/37ca41f0c8b449d9fad424ca36b1664c.png" density="port-hdpi"/>
        <splash src="res/android/screen/6f46bbae7bc8c9651b94496e5ed91057.png" density="port-ldpi"/>
        <splash src="res/android/screen/8fb6498cb550281a66a6861491259ab2.png" density="port-mdpi"/>
        <splash src="res/android/screen/0c5185d431d580d0865bb53300158af2.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/78bddca054694c39620e3a913e7c5a44.png" width="180" height="180" />
        <icon src="res/ios/icon/3caa04770cb3ba68fd1c1cfd7ea29d00.png" width="60" height="60" />
        <icon src="res/ios/icon/ef6c45a3ec1b152c0bc2d5d320c84c01.png" width="120" height="120" />
        <icon src="res/ios/icon/0be04e766d97776685d7687988c383e0.png" width="76" height="76" />
        <icon src="res/ios/icon/022595beb5642fa65bbdea682fc9de4c.png" width="152" height="152" />
        <icon src="res/ios/icon/ed439cebb714f24d9d22686af64b8bf6.png" width="57" height="57" />
        <icon src="res/ios/icon/3362415c1aaf112e39e1ab1216140332.png" width="114" height="114" />
        <icon src="res/ios/icon/b49e75cfe93bd6722d34d3a3b545ca2b.png" width="72" height="72" />
        <icon src="res/ios/icon/a0afe308b40de1e16b53ca7b1160f671.png" width="144" height="144" />
        <icon src="res/ios/icon/4e60407bab43b1c0ffcef88841b3d2a6.png" width="167" height="167" />
        <icon src="res/ios/icon/144c717d6f71e25d226e18ac9af07ef4.png" width="29" height="29" />
        <icon src="res/ios/icon/a7a3f29290fbc832935ebfd2e1bf5e5d.png" width="58" height="58" />
        <icon src="res/ios/icon/de97db428a343531b1f27358d15c9708.png" width="87" height="87" />
        <icon src="res/ios/icon/e847965a3eb6db1de300b652923fe7d5.png" width="167" height="167" />

        <splash src="res/ios/screen/dfe865d650aaf3ab6bbc38596351d880.png" />
        <splash src="res/ios/screen/c4c210c7bed4283279c833bc8d54baf1.png" />
        <splash src="res/ios/screen/3e054a9b545f4bf8c55b92435df7bd08.png" />
        <splash src="res/ios/screen/f64200474fc20f04b475d8632c5674fb.png" />
        <splash src="res/ios/screen/2c569f341918abf4b998a395f616c829.png" />
        <splash src="res/ios/screen/6b5a5367a7bb8dd3afd102c5520a1095.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/a117670f650cd580cf8b768685c5f2a8.png" target="StoreLogo" />
        <icon src="res/windows/icon/3b99198cdb7b5eb67af9bf5f3fe90600.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/b8ee4c8aeec7b76632fb2cad75012110.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/beae3c86b6469da37cbd9965c82a4eb2.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/b2551744cfcd8aecb20ce13189e0aa39.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/d26d3117f38da632a1cae082447678d4.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/895563e5e1bf29305417bdc8f21f066b.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/78ab2f9818b10214755b1855dbdef129.png" target="SplashScreen"/>
        <splash src="res/windows/screen/108576a9371574de89ef2fe3dfb5937d.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>